
* { margin: 0; padding: 0; bottom:0px; }
html, body
{
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    color: #fff;
    bottom: 0px;
    font-family: ...;
}

